@import '../../gobal';

.nav-container {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    .navbar {
        width: 100%;
        background-color: $colorMain;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        gap: 50px;
        .mobile-menu {
            display: none;
        }
        .logo {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 40px;
            padding-left: 20px;
            font-weight: 700;
            white-space: nowrap;
            letter-spacing: 5px;
            color: $textColor;
            cursor: pointer;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            @media (max-width: 768px) {
                display: none;
            }
            @media (max-width: 1280px) {
                font-size: 35px;
                padding-left: 0px;
            }
        }

        //search-results
        .nav-items {
            flex: 0;
            display: flex;
            gap: 3px;
            justify-content: flex-end;

            .nav-user {
                display: flex;
                align-items: center;

                gap: 10px;
                .nav-link {
                    display: flex;
                    margin-right: 40px;
                    gap: 50px;
                    color: $textColor;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .nav-link-btn {
                        border: none;
                        outline: none;
                        background-color: transparent;
                        cursor: pointer;
                        color: $textColor;

                        &:hover {
                            background-color: rgba(205, 205, 205, 0.5);
                        }
                    }
                    .count-right {
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        background-color: #f60f0f;
                        width: 16px;
                        height: 16px;
                        top: 0;
                        right: -2%;
                        font-size: 12px;
                    }
                    .count-left {
                        font-size: 12px;

                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        background-color: #f60f0f;
                        width: 16px;
                        height: 16px;
                        top: 0;
                        left: 20%;
                    }
                }

                //menu
                .notifi-options {
                    position: relative;

                    .notifi-items {
                        width: 400px;
                        border-radius: 15px;
                        position: absolute;
                        right: 20px;
                        background-color: rgb(240, 240, 240);
                        top: 15px;
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        max-height: 416px;
                        overflow-y: scroll;

                        &::-webkit-scrollbar {
                            display: none;
                        }
                        .items {
                            padding-left: 10px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 10px;
                            img {
                                cursor: pointer;
                                width: 36px;
                                height: 36px;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                            p {
                                display: flex;
                                gap: 10px;
                                align-items: center;
                                font-size: 15px;
                            }
                            span {
                                color: $colorMain;
                                cursor: pointer;
                                font-size: 20px;
                                font-weight: 500;
                            }
                        }
                        .mini-post {
                            display: flex;
                            gap: 10px;
                            align-items: flex-start;
                            justify-content: flex-start;
                            padding-left: 20px;
                            cursor: pointer;
                            border-radius: 5px;
                            img {
                                width: 10%;
                                height: 40px;
                                object-fit: cover;
                                cursor: pointer;
                            }
                            span {
                                opacity: 0.6;
                                font-size: 12px;
                                text-overflow: ellipsis;
                                cursor: pointer;
                            }
                            &:hover {
                                transform: scaleY(1.1);
                                background-color: rgba($color: #bab8b8, $alpha: 0.5);
                            }
                        }
                    }
                    .btn {
                        .close-btn {
                            position: absolute;
                            opacity: 0.3;
                            left: -98px;
                            top: 23px;
                            display: flex;
                            margin: 0 auto;
                            justify-content: center;
                            border: none;
                            outline: none;
                            background-color: $mainColor;
                            color: $textColor;
                            padding: 5px;
                            border-radius: 5px;
                            cursor: pointer;
                            transition: all 0.5 ease;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 768px) {
        .navbar {
            gap: 20px;
            .mobile-menu {
                display: block;
                flex: 0.5;
                span {
                    display: flex;
                    align-items: center;
                    color: $textColor;
                    cursor: pointer;
                }
            }
            .nav-items {
                .nav-user {
                    .nav-link {
                        padding-top: 8px;
                        display: flex;
                        margin-right: 15px;
                        gap: 20px;
                    }
                    .notifi-options {
                    
                        .notifi-items {
                            width: 329px;
                            right: 22px;
                            max-height: 324px;
                            top: 22px;
                        }
                        .btn {
                            .close-btn {
                                left: -98px;
                                top: 31px;
                            }
                        }
                    }
                }
            }
        }
    }
}
